<div class="d-flex flex-row align-items-center cart-item-container py-1">
  <img
    class="rounded img-fluid me-2"
    style="max-width: 100px;"
    [src]="cartItem.product.imageUrl"
    [alt]="cartItem.product.name">
  <div>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <p>{{ cartItem.product.name }}</p>
      <i class="bi bi-x text-danger" style="font-size: 1.8rem;" (click)="deleteFromCart()"></i>
    </div>
    <div class="d-flex flex-row align-items-center">
      <p class="mb-0">Amount: {{ cartItem.quantity }}</p>
      <p class="mb-0 ms-4 fw-bold">Total: €{{ cartItem.product.price * cartItem.quantity }}</p>
    </div>
  </div>
</div>
