<div class="bg-light full-vh">
  <div class="container-xl d-flex justify-content-center">
    <div class="col-6 mt-5 p-5 login-container">
      <form class="full-width" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h4>Login</h4>
        <a routerLink="/register">Don't have an account yet? Register here!</a>
        <div class="mb-3 mt-5">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <span
            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
            class="text-danger ms-1">
              <small>Email is required!</small>
            </span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <span
            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
            class="text-danger ms-1">
            <small>Password is required!</small>
          </span>
        </div>
        <button type="submit" class="btn btn-primary px-3" [disabled]="loginForm.invalid || isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ isLoading ? 'Loading...' : 'Login' }}
        </button>
      </form>
    </div>
  </div>
</div>
