<div>
  <div class="bg-light full-vh main-container">
    <div class="container-xl full-height">
      <div class="caption-container p-5">
        <div class="d-flex flex-row justify-content-end">
          <div class="caption d-flex flex-column justify-content-end">
            <h1 class="text-white">NBA Store</h1>
            <h3 class="text-white">Shop <span class="text-primary">Jerseys</span> from all 30 teams!</h3>
            <button type="button" class="btn btn-danger mt-4 px-5">SHOP NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-categories></app-categories>
</div>
